XSD&DTD/objetos.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="objetos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="piezas_armaduras">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="pieza_armadura" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nombre"/>
                    <xs:element type="xs:string" name="conjunto"/>
                    <xs:element name="slot_armadura">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Cabeza"/>
                                <xs:enumeration value="Torso"/>
                                <xs:enumeration value="Piernas"/>
                                <xs:enumeration value="Manos"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element type="xs:string" name="durabilidad_max"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="pieza_armadura_id"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nombre"/>
                    <xs:element type="xs:string" name="tipo"/>
                    <xs:element type="xs:string" name="descripcion"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="item_id"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="hechizos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="hechizo" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nombre"/>
                    <xs:element type="xs:string" name="tipo"/>
                    <xs:element type="xs:string" name="efecto"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="hechizo_id"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="armas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="arma" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nombre"/>
                    <xs:element type="xs:string" name="tipo"/>
                    <xs:element type="xs:short" name="durabilidad_max"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="arma_id"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>